header {
    background-color:thistle;
    color:rebeccapurple;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    padding:15px;
    border:9px solid purple;


}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}